header .title{
	color:#fff;
	line-height: 44px;
	margin-left: 16px;
}
.mui-content{
	background-color: #fff;
}
.mui-content .search{
	height:45px;
	padding:6px 10px 6px 10px;
	border-bottom: 1px solid #e9ebec;
}
.mui-content .search input{
	width: 85%;
	float: left;
	height:32px;
	font-size: 13px;
	border: 1px solid #e9ebec;
	border-radius: 7px;
}
.mui-content .search span{
	float: right;
	display: block;
	width: 15%;
	text-align: center;
	color:#000;
	line-height: 33px;
	font-weight: 300;
}
