.mui-content .land{
	background: #1e90ff;
	border:1px solid transparent;
}

.mui-content .land img{
	display: block;
	margin:50px auto 0;
	width:70px;
	height:70px;
}
.mui-content .land .login{
	display: block;
	text-align: center;
	margin: 10px auto 40px;
	font-size: 15px;
	font-weight: 300;
	color:#fff;
}
.mui-table-view-cell .item{
	line-height: 30px;
	font-size: 13px;
	color:#666 !important;
	/*height:43px;*/
}
.mui-table-view-cell .item img{
	float: left;
	margin-right: 10px;
	width:30px;
}
.mui-table-view-cell{
	padding: 9px 15px;
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #e9ebec;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    font-family: Muiicons;
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #555;
    -webkit-font-smoothing: antialiased;
}